@use './partials/variables' as *;


$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    color: #c0c0c0;
    font-weight: 400;
  }
  header{
    box-shadow: 0px 0px 5px white;
  }

  .section-hero {
    background-color: #171614;
    padding: 8.4rem 0 9.6rem 0;
    .hero {
      max-width: 130rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 3.2rem;
      margin: 0 auto;
      align-items: center;
      gap: 0 9.6rem;
    }

    .heading-primary {
      font-size: 5.2rem;
      color: #77ecba;
      font-weight: 700;
      letter-spacing: -0.5px;
      line-height: 1.05;
      margin-bottom: 3.6rem;
    }

    .hero-description {
      font-size: 2rem;
      line-height: 1.5;
      margin-bottom: 4.8rem;
    }

    .hero-img-box {
      grid-column: 2/3;
      grid-row: 1 / 3;
    }

    .hero-img {
      width: 100%;
    }

    .btn:link,
    .btn:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 600;
      font-family: inherit;
      border: none;
      cursor: pointer;
      border-radius: 9px;
      padding: 1.6rem 3.2rem;
      text-decoration: none;

      transition: background-color 500ms;
    }

    .btn--fill:link,
    .btn--fill:visited {
      background-color: #e67e22;
      color: #fff;
    }

    .btn--outline:link,
    .btn--outline:visited {
      color: #555;
      background-color: #fff;
    }

    .btn--fill:hover,
    .btn--fill:active {
      background-color: #cf711f;
      text-decoration: underline;
    }

    .btn--outline:hover,
    .btn--outline:active {
      background-color: #fdf2e9;
      box-shadow: inset 0px 0px 0px 3px #fff;
      text-decoration: underline;
    }
    .margin-right-btn {
      margin-right: 2.4rem;
    }

    .delivered-meals {
      display: flex;
      align-items: center;
      gap: 3.2rem;
    }

    .delivered-imgs img {
      width: 4.8rem;
      height: 4.8rem;
      border-radius: 50%;
      margin-right: -1.6rem;
      outline: #fdf2e9 solid 3px;
    }

    .delivered-text {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .delivered-text span {
      color: #cf711f;
    }
  }

.card{
    width: 18rem;
    box-shadow: 0px 0px 5px black;
    img{
        height: 18rem;
        object-fit: cover;
        object-position: center;
    }
}
.moviesTitle{
    text-shadow: 0px 0px 5px white;
}
.showWrap{

    h1,h2,h3{
        text-shadow: 0px 0px 2px white;
    }

    img{
        width: 400px;
    }
    .imgwrap{
        box-shadow: 0px 0px 5px black;
    }

}
